/* chatWidgetStyles.css */

/* Apply styles to the chat widget container globally */

/* Media query for mobile screens */
@media (max-width: 767px) {
  .rcw-widget-container {
    width: 90% !important;
    right: 5% !important;
    left: 5% !important; /* Ensure it's centered */
    height: 90% !important;  /* Adjust the height for mobile */
    margin: 0 auto; /* Ensure it's centered */
  }

  .rcw-conversation-container {
    width: 100% !important; /* Ensure full width on mobile */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
  }
}
