/* chatWidgetStyles.css */

/* Apply styles to the chat widget container globally */
.rcw-widget-container {
  font-size: 12px; /* Adjust the font size as needed */
}

.rcw-title {
  display: none; /* Hide the title */
}

.rcw-subtitle {
  display: none; /* Hide the subtitle */
}

.rcw-input:not(:focus) {
  outline: none; /* Ensures no outline is shown when the element is not focused */
}

.rcw-input:focus-visible {
  outline: none; /* Ensures no outline is shown when the element is focused */
}

/* Media query for mobile screens */
@media (max-width: 767px) {
  .rcw-widget-container.expanded {
    width: 100% !important;
    right: 0 !important;
    left: 0 !important;
    height: auto !important;
    margin: 0 !important;
    position: fixed !important;
    bottom: 0 !important;
    top: auto !important;
  }

  .rcw-conversation-container {
    width: 100% !important;
    height: 90vh !important;  /* Use viewport height for responsiveness */
    box-sizing: border-box;
    align-self: flex-end;
    position: fixed !important;
    bottom: 0 !important;
  }

  .rcw-input.no-focus:focus {
    outline: none;
    border: none;
  }
}